<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Submission Successfull</h1>
    <h2>Now you can close the tab </h2>
    <h3>Or go to <a href="/student_dashboard?user=<%= encodeURIComponent(user.student_name) %>&id=<%= encodeURIComponent(user.student_ID) %>&course=<%= encodeURIComponent(user.course) %>&address=<%= encodeURIComponent(user.address) %>">dashboard</a></h3>

</body>
</html>